<%- include('partials/layout', { title: 'Treinos', body: '' }) %>

<% if (treinos && treinos.length > 0) { %>
    <div class="botao-adicionar">
        <div class="tabela">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="adicionarTreino()">
                <i class="fas fa-plus"></i>
            </button>
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Adicionar Treino</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/adicionarTreino" method="post" id="adicionarTreino">
                                <div class="mb-3">
                                    <label for="treinoEspecifico" class="form-label">Treino Específico:</label>
                                    <input type="text" class="form-control" id="treinoEspecifico" name="treinoEspecifico" placeholder="Informe o treino específico" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exercicios" class="form-label">Exercícios:</label>
                                    <input type="text" class="form-control" id="exercicios" name="exercicios" placeholder="Informe os exercícios" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Adicionar Treino</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-principal">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Treino específico</th>
                    <th scope="col">Qual treino</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Remover</th>
                </tr>
            </thead>
            <tbody>
                <% treinos.forEach(treino => { %>
                    <tr>
                        <th scope="row"><%= treino.id %></th>
                        <td><%= treino.nome %></td>
                        <td><%= treino.descricao %></td>
                        <td>
                            <button type="button" class="btn btn-primary" onclick="editarTreino()">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="removerTreino()">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
<% } else { %>
    <p>Nenhum treino disponível.</p>
<% } %>

