<%- include('partials/layout', { title: 'Medidas', body: '' }) %>

<% if (medidas && medidas.length > 0) { %>
    <div class="botao-adicionar">
        <button type="button" class="btn btn-success" onclick="adicionarMedida()">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <div class="container-principal">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Dia da medição</th>
                </tr>
            </thead>
            <tbody>
                <% medidas.forEach(medida => { %>
                    <tr>
                        <th scope="row"><%= medida.diaMedicao %></th>
                        <td>
                            <div class="tabela">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal<%= medida.id %>">
                                    Abrir
                                </button>
                                <div class="modal" id="myModal<%= medida.id %>">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Detalhes da Medição</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Conteúdo da tabela...</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
      
<% } else { %>
    <p>Nenhum treino disponível.</p>
<% } %>