<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    
    <script src="/script.js" defer></script>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-......" crossorigin="anonymous" />
</head>
<body>
    <div class="container-fluid">
        <div class="upbar">
            <div class="ios-menu-btn" id="menuButton">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>

            <div class="content">
                <nav class="nav nav-pills flex-column flex-sm-row navbar-expand-sm collapse" id="navbarNav">
                    <a class="flex-sm-fill text-sm-center nav-link <%= title === 'Treinos' ? 'active' : '' %>" href="/">Treinos</a>
                    <a class="flex-sm-fill text-sm-center nav-link <%= title === 'Medidas' ? 'active' : '' %>" href="/metrics">Medidas</a>
                    <a class="flex-sm-fill text-sm-center nav-link <%= title === 'Metas' ? 'active' : '' %>" href="/targets">Metas</a>
                </nav>
            </div>
        </div>
    </div>
        <div>
            <%- body %>
        </div>
    
</body>
</html>

