body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

  .botao-adicionar {
    margin-top: 25%;
    position: absolute;

  }

  .container-principal {
    margin-top: 45%;
    position: absolute;
  }

  .table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
  }

  .upbar {
    background-color: rgba(181, 181, 193, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    flex-grow: 0.5;
    position: fixed;
    width: 80vh;
  }

  .ios-menu-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .ios-menu-btn .bar {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 6px 0;
    transition: background-color 0.2s ease-in-out, opacity 0.1s ease-in-out;
  }

  .ios-menu-btn.active .bar:first-child {
    transform: translateY(15px) rotate(45deg);
  }

  .ios-menu-btn.active .bar:last-child {
    transform: translateY(-15px) rotate(-45deg);
  }


  .ios-menu-btn.active .bar:nth-child(2) {
    opacity: 0;
  }

  .content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
  }

  .nav-pills .nav-link {
    display: block;
    width: 100%;
    text-align: left; 
    padding: 0.5rem 1rem;
  }

  .container-fluid {
    display: flex;
    justify-content: center;

  }

  .tabela {
    overflow: hidden;
    border: 1px solid #ddd;
    transition: height 0.3s ease;
  }
  
  .cabecalho {
    padding: 10px;
    cursor: pointer;
    background-color: #f5f5f5;
  }
  
  .conteudo {
    padding: 20px;
    display: none;
  }
  
  .tabela.expandida {
    height: 200px;
  }
  
  .tabela.expandida .conteudo {
    display: block;
  }

  .modal-content {
    margin-top: 30%;
  }
  
  @media only screen and (max-width: 768px) {
    .botao-adicionar {
        margin-top: 67%;
    }

    .container-principal {
        margin-top: 125%;
    }

    .upbar {
        width: 100%;
        position: relative;
    }
  }
